@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    url(../fonts/Gilroy-Bold.ttf) format(truetype),
    url(../fonts/Gilroy-Bold.eot) format(embedded-opentype),
    url(../fonts/Gilroy-Bold.woff) format(woff);
}

@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    url(../fonts/Gilroy-Medium.ttf) format(truetype),
    url(../fonts/Gilroy-Medium.eot) format(embedded-opentype),
    url(../fonts/Gilroy-Medium.woff) format(woff);
}
